
@font-face {
	font-family: "FontAwesome";
	src: url('/fonts/fontawesome-webfont.eot');
	src: url('/fonts/fontawesome-webfont.eot?#iefix') format('eot'),
		 url('/fonts/fontawesome-webfont.woff') format('woff'),
		 url('/fonts/fontawesome-webfont.ttf') format('truetype'),
		 url('/fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
	font-weight: normal;
	font-weight: normal;
}
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


* {margin: 0; padding: 0}
body {
	padding-top: 0px !important;
	background: url(../image/Bg-np17.jpg) no-repeat center center fixed;
	background-color: #ab7c46;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*background-repeat: no-repeat;
	background-attachment: fixed;
*/
}
.navbar.parent {
	border-radius: 0;
	border-top-width: 0;
	width: 100%;
}

.container-fluid.top-nav {
	padding-left: 23%;
	padding-right: 23%;
}
.input-group.search-bar {
	width: 230px;
	padding-top: 8px;
	margin-left: 15px;
	margin-right: 15px;
}
.btn-group.login {
	padding-top: 8px;
	margin-left: 50px;
}
.btn-label {
	position: relative;
	left: -12px;
	display: inline-block;
	padding: 7px 12px;
	background: rgba(0, 0, 0, 0.15);
	border-radius: 3px 0 0 3px;
}
#login-menu .dropdown .dropdown-toggle, .btn.bottom-register {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
#login-menu .navbar-nav .dropdown-menu {
	padding: 10px;
	min-width: 240px
}
#login-menu .navbar-nav input, #login-menu .navbar-nav button:not(:last-child) {
	margin-bottom: 10px;
}
button > .glyphicon {
    margin-right: 3px!important;
}
#page-body {
	padding-top: 60px;

}
.row {
	margin-bottom: 15px;
}
.forum-table .panel-body{
	padding-left: 0;
	padding-right: 0;
}
table thead:not(#first-table-thead) {
	background-color: #64B532;
	color: #fff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000,
				 -1px 1px 0 #000, 1px 1px 0 #000;
}
table:not(:nth-child(0)){
	margin-bottom: 0;
}
.panel-body:not(#first-panel):not(#form-panel) {
	padding-top: 0;
	padding-bottom: 0;
}


.forum-table table tbody tr td:nth-child(2),
.forum-table table tbody tr td:nth-child(3) {
	text-align: center;
	vertical-align: middle;
	max-width: 90px;
	max-height: 90px;

}
.pull-left.forum-icon {
	padding-left: 5px;
	padding-right: 7px;
}
table p {
	margin-bottom: 5px;
}
th.forum-name, td.forum-name {
	width: 50%;
}
.forum-desc {
	overflow: hidden;
	word-break: normal;
	white-space: normal;
}
#page-header {
	height: 54px;
}

.panel > .panel-heading {
	color: #3184bb;
	background-color: #d9edf7; 
}
.panel.login-panel > .panel-body,
.panel.online-panel > .panel-body {
	padding: 10px 20px !important;
} 
.input-group.bottom-login {
	margin-bottom: 7px;
	margin-right: 35px;
}
.panel.login-panel .checkbox {
	margin-top: 0;
}
.panel.login-panel .checkbox a {
	padding-right: 3px;
}
.panel.login-panel .checkbox label {
	padding-left: 3px;
}
.panel.login-panel .checkbox label input {

}

.btn.bottom-register  {
	border: 0;
}
.panel-body > .divider { 
	height: 1px;
	margin: 9px;
	overflow: hidden;
	background-color: #e5e5e5;
}
.checkbox.custom input[type=checkbox] {
	position: relative;
	margin-left: 7px;
}
#bottom-form input[type=text] {
	width: 117px;
}


#to-top {
	cursor: pointer;
	position: fixed;
	bottom: 60px;
	right: 30px;
}
#page-footer {
	border-top: 2px solid #eee;
	padding-top: 15px;
	margin-bottom: 60px !important;
}


.modal-content.signup-form {
	padding-left: 1px;
	padding-right: 1px;
}

.modal-content.signup-form > .panel {
	margin-bottom: 0 !important;
}

.btn.btn-twi {
	color: #FFF;
	background-color: #08a0e9;
	border-color: #0084B4;
	margin-right: 6px;
}
.btn.btn-twi:hover {
	background-color: #0084B4;
}


.modal {
 overflow-y: auto !important;
}

.modal-open {
 overflow: auto !important;
}

body.modal-open-noscroll 
	{
	  margin-right: 0!important;
	  overflow: hidden;
	}
	.modal-open-noscroll .navbar-default, .modal-open .navbar-default 
	{
	  margin-right: 0!important;
}

.nav-mobile {
	display: none;
	top: 0;
  	right: 0;
	position: absolute;
	z-index: 2001;
	background: #eaeaea;
	height: 54px;
	width: 54px;
}
#nav-toggle {
    position: absolute;
    left: 9.5px;
    top: 14.5px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: black;
  position: absolute;
  display: block;
  content: '';
}
#nav-toggle span:before {
  top: -10px; 
}
#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}


@media screen and (max-width: 767px) {
	.nav-mobile { 
		display: block !important;
	}
	#page-header .nav {
		display: none;
	}
	nav.navbar {
		height: 55px;
		border-left: 0;
		border-right: 0;
	}
	nav.navbar li:hover {
		background-color: #e7e7e7;
	}
	#page-header nav {
		padding-top: 54px;
	}
	.container-fluid.top-nav {
		background-color: #f9f9f9 !important;
		width: 100%
	}
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
	#page-header nav {
		position: fixed !important;
	}
	#nav_bottom li {
		display: inline-block;
	}
}

@media screen and (max-width: 414px) {
	.btn-primary.custom, .btn-twi.custom  {
		display: block;
		width: 100%;
	}
	.btn-twi.custom {
		margin-bottom: 7px;
	}
}

@media screen and (max-width: 380px) {
	.navbar-fixed-bottom {
		display: none;
	}
	#to-top {
		bottom: 30px;
	}
}

@media screen and (max-width: 1700px) {
	.container-fluid.top-nav {
		padding-left: 16%;
		padding-right: 16%;
	}
}
@media screen and (max-width: 1567px) {
	.container-fluid.top-nav {
		padding-left: 10%;
		padding-right: 10%;
	}
}
@media screen and (max-width: 1170px) {
	.container-fluid.top-nav {
		padding-left: 9%;
		padding-right: 9%;
	}
}
@media screen and (max-width: 970px) {
	.container-fluid.top-nav {
		padding-left: 7%;
		padding-right: 7%;
	}
}

/*--login panel--*/
@media screen and (max-width: 667px) {
	.login-panel > .panel-body > .pull-left:first-child {
		width: 100%;
	}
	#bottom-form input[type=text] {
		width: 100%;
		margin-bottom: 6px;
		border-radius: 4px;
	}
	#bottom-form button[type=submit] {
		border-radius: 4px;
	}
	div.input-group.bottom-login {
		margin-right: 0;
	}
}

@media screen and (min-width: 693px) and (max-width: 768px) {
	.login-panel > .panel-body > .pull-left:first-child {
		width: 56%;
	}
}
@media screen and (min-width: 769px) {
	.login-panel > .panel-body > .pull-left:first-child {
		width: 49%;
	}
}
@media screen and (min-width: 769px) {
	.login-panel > .panel-body > .pull-left:first-child {
		width: 350px;
	}
}